@import '../../colors';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 0;
    border-bottom: 2px solid $main_color;
    margin-bottom: 50px;
    &__profile {
        display: flex;
        align-items: center;
        .theme {
            display: flex;
        }
    }

    .theme, .feeling, .settings {
        font-size: 1.5rem;
    }

    .theme {
        margin-right: 90px;
    }

    .feeling {
        display: flex;
        align-items: center;
        margin-right: 40px;
        span {
            margin-right: 12px;
        }
        img {
            cursor: pointer;
        }
    }

    .settings {
        background-color: transparent;
        border: none;
        color: #fff;
        font-family: inherit;
        cursor: pointer;
        outline: none;
        img {
            margin-left: 5px;
        }
    }

}