@import '../../colors';

.add-list {
    position: relative;
    &__menu {
        background-color: #111;
        padding: 20px;
        border-radius: 7px;
        position: absolute;
        top: 55px;

        left: 11px;
        img {
            position: absolute;
            top: -8px;
            right: -8px;
            cursor: pointer;
            transition: 0.15s ease-in-out;
            &:hover {
                filter: drop-shadow(0px 0px 2px #fff);
            }
            &:active {
                filter: drop-shadow(0px 0px 2px #bbb);
            }
        }
    }

    .colors {
        display: flex;
        margin-bottom: 15px;
        li {
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
        }
        .badge {
            position: static;
            width: 20px;
            height: 20px;
            transform: translateY(0);
            top: auto;            
            left: auto;     
            cursor: pointer;  
            box-shadow: inset 0 0 3px #555;
            border: 1px solid transparent;

            &.active {
                border: 1px solid yellow
            }     
        }
    }

    &__int {
        margin-bottom: 14px;
        background-color: darken(#fff, 10);
        transition: 0.2s ease-in-out;
        &:focus {
            background-color: #fff;
        }
    }

    &__goadd {
        background-color: $main_color;
        cursor: pointer;
        transition: 0.15s ease-out;

        &:hover {
            background-color: darken($main_color, 15);
        }

        &:active {
            background-color: darken($main_color, 30);
        }
    }

    &__goadd, &__int {
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 1.4rem;
        font-family: inherit;
        display: block;
        width: 100%;
        padding: 8px 15px;

    }
}